/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

.wrapper {
  padding-left: var(--bsu-md);
  padding-right: var(--bsu-md);
  max-width: 1400px;
  margin: 0 auto;

  @media(--xs) {
    padding-left: calc(var(--bsu-lg) + var(--bsu));
    padding-right: calc(var(--bsu-lg) + var(--bsu));
  }

  @media(--sm) {
    padding-left: var(--bsu-xl);
    padding-right: var(--bsu-xl);
  }
}