/* ------------------------------------ *\
  #Grid
\* ------------------------------------ */

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.grid__item {
  flex: 0 0 auto;
  width: 100%;
}

/**
 * Modifiers
 */

.grid--rigid {
  justify-content: flex-start;
  margin-left: calc(-1 * var(--gutter));

  & > .grid__item {
    padding-left: var(--gutter);
  }
}

.grid--right {
  justify-content: flex-end;
}


/**
 * Widths
 */

@media (--sm) {
  .u-1\/2\@sm { width: calc(1/2 * 100%); }
}

@media (--md) {
  .u-1\/2\@sm { width: calc(1/2 * 100%); }
}